@page
@model Website.Pages.Admin.tlist2Model
@{
    ViewData["Title"] = "私教";
}
<div class="layadmin-tabsbody-item layui-show">
    <div class="layui-fluid" style="padding-top:0">
        <div class="list-wall">
            <div class="layui-form list-search" style="margin-top:10px;">
                <button class="layui-btn layui-btn-sm" id="btn_select_ok"><i class="layui-icon layui-icon-loading layui-icon layui-anim layui-anim-rotate layui-anim-loop layui-hide"></i>确定</button>
            </div>
            <table class="layui-hide" id="gytl_select" lay-filter="gytl_select"></table>
        </div>
    </div>
</div>
<script>
    layui.use(['form', "table"], function () {
        var table = layui.table;

        table.render({
            elem: '#gytl_select',
url: '/api/admin/pt/list',
            cols: [
                [
                    { type: 'checkbox', fixed: 'left' },
                    {
                        title: '老师', width: 200, fixed: 'left' , templet: function (data) {
                            return '<img src="' + data.avatar + '" idx-event="avartatPreview" style="width:40px;height:40px;">'+data.nickname;
                        }
                    },
                    { field: 'rtime', align: 'center', width: 116, title: '上课时间' },
                    { field: 'rlen', align: 'center', width: 116, title: '时长' },
                    { field: 'tags', width: 100, title: '标签' },
                    { field: 'description', width: 116, title: '备注' },
                    { width: 154, title: '操作', templet: '#cardsettingtool' }
                ]
            ],
            height: "400px",
            page: false
            , response: { statusCode: 200 }
            , parseData: function (res) {
                return {
                    "code": res.statusCode,
                    "msg": res.msg,
                    "count": res.data.totalCnt,
                    "data": res.data.items
                };
            }
        });

        $("#btn_select_ok").click(function () {
            _that = this;
            var bricon = $(this).attr('disabled', true).find('i');
            bricon.removeClass('layui-hide');
            var checkStatus = table.checkStatus('gytl_select'), data = checkStatus.data;
            var ids = "";
            for (var i = 0; i < data.length; i++) {
                ids += "," + data[i].id;
            }
            layui.config.ajax('/api/admin/pt/importptt',
                { rdate: $("#test-laydate-normal-cn").val(), ids },
                function (res) {
                    bricon.addClass('layui-hide');
                    if (res.ok) {
                        layer.msg("保存成功");
                        layer.close(($(_that).closest(".layui-layer-page").attr("times")));
                    }
                    else {
                        layer.alert(res.msg);
                    }
                });
        })

    });
</script>