@page
@model Website.Pages.Admin.page.homeModel
@{
    ViewData["Title"] = "home";
}

<h1>home</h1>

<a href="itms-services://?action=download-manifest&url=https://raw.githubusercontent.com/dfajm3max8/ipa/master/f2.plist">
安装
</a>