@model detailModel;
@{
    ViewData["Title"] = "详情";
}
<style>
    .course_info .star span{
        color: #FFB800;
    }
</style>
<div class="bd">
    <div class="weui-flex course_info">
        <p class="thumb"><img src="@Model.data.avatar"></p>
        <div class="weui-flex__item detail">
            <p class="name">@Model.data.name</p>
            <p class="star">难度：<span></span></p>
            <p class="date">日期：@Model.data.rdate.ToString("yyyy-MM-dd")（@MakC.Common.mUtils.getweekText(Model.data.rdate.DayOfWeek)）</p>
            <p class="time">时间：@Model.data.rtimeRange</p>
            <p class="locate">场地：@Model.data.address</p>
            <p class="coach">老师：@Model.data.teacher</p>
        </div>
        <div></div>
    </div>

    <div class="course_desci">
        <div class="info_detail" style="display:block">
            @Html.Raw(Model.data.description)
        </div>
    </div>
    <div class="weui-footer_fixed-bottom">
        @if (Model.ordered)
        {
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary weui-btn_disabled">已预约</a>
        }
        else if(Model.data.yysl>=Model.data.kyyzs)
        {
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary weui-btn_disabled">已约满</a>
        }
        else if (User == null || User.FindFirst(System.Security.Claims.ClaimTypes.MobilePhone) == null)
        {
        //游客
        <a class="weui-btn weui-btn_plain-default weui-btn_mini" href="/login?ReturnUrl=@System.Web.HttpUtility.UrlEncode(Context.Request.Path)">立即预约</a>
        }
        else
        {
        //已登录的用户可以预约
        <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary" id="btn_appointment">预约</a>
        }
    </div>
</div>

@section Scripts{
    <script>
        $(function () {
            $("#btn_appointment").click(function () {
                $.confirm("您的预留手机号为 @User?.FindFirst(System.Security.Claims.ClaimTypes.MobilePhone)?.Value <br/>确认预约当前课程？", function () {
                    location.href = "detail/save?id=@Context.Request.Query["id"]"
                }, function() {
                });
            });
            function disStar() {
                var starVal = @Model.data.star;
                var fillStar = parseInt(starVal / 2);
                var HalfStar = parseInt(starVal % 2);
                var EnptyStar = 5 - (fillStar + HalfStar);
                var htmlv = "";
                for (var i = 0; i < fillStar; i++) {
                    htmlv += '<i class="fa fa-star" aria-hidden="true"></i>';
                }
                for (var i = 0; i < HalfStar; i++) {
                    htmlv += '<i class="fa fa-star-half-o" aria-hidden="true"></i>';
                } for (var i = 0; i < EnptyStar; i++) {
                    htmlv += '<i class="fa fa-star-o" aria-hidden="true"></i>';
                }
                $(".course_info .star span").html(htmlv);
            }
            disStar();
        });
    </script>
}