@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
    <div class="weui-msg">
        <div class="weui-msg__icon-area"><i class="weui-icon-warn weui-icon_msg-primary"></i></div>
        <div class="weui-msg__text-area">
            <h2 class="weui-msg__title">@Model.Msg</h2>
            <p class="weui-msg__desc">@Model.Description</p>
        </div>
        <div class="weui-msg__opr-area">
            <p class="weui-btn-area">                
                <a href="javascript:history.go(-1);" class="weui-btn weui-btn_default" style="margin-top:16px;">返回</a>
            </p>
        </div>
        <div class="weui-msg__extra-area">
            <div class="weui-footer">
                <p class="weui-footer__text">Copyright</p>
            </div>
        </div>
    </div>