@page
@model Website.Pages.Admin.setting.ticketsModel
@{
    ViewData["Title"] = "优惠券设置";
    Layout = null;
}

<div class="layadmin-tabsbody-item layui-show">
    <div class="layui-card layadmin-header">
        <div class="layui-breadcrumb" lay-filter="breadcrumb" style="visibility: visible;">
            <a lay-href="">主页</a><span lay-separator="">/</span>
            <a><cite>设置</cite></a><span lay-separator="">/</span>
            <a><cite>优惠券设置</cite></a>
        </div>
    </div>
    <div class="layui-fluid">
        <div class="list-wall">
            <div class="layui-form list-search" style="margin-top:10px;">
                <button type="button" class="layui-btn layui-btn-sm" data-action="toolAdd"><i class="layui-icon"></i> 新增</button>
                <button type="button" class="layui-btn layui-btn-sm layui-btn-normal" data-action="tooldsp"><i class="layui-icon"></i> 分发会员卡</button>
            </div>
            <table class="layui-hide" id="cardtablist" lay-filter="cardsettingtool"></table>
        </div>
        <script type="text/html" id="cardsettingtool">
            <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit"><i class="layui-icon"></i> 修改</a>
            @*<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="delete"><i class="layui-icon"></i> 删除</a>*@
        </script>
    </div>
</div>
<script>
    layui.use(['form',"table"], function () {
        var table = layui.table
            , element = layui.element
            , form = layui.form;

         table.render({
            elem: '#cardtablist',
            url: '/api/admin/setting/gettickets',
            cols: [
                [
                    { type: 'checkbox', fixed: 'left' },
                    @*{ type: 'numbers', fixed: 'left' },*@
                    { field: 'name', width: 200, title: '名称', fixed: 'left' },
                    { field: 'type', width: 60, title: '类型' },
                    { field: 'expiryDay', width: 60, title: '效期' },
                    {
                        width: 90, title: '折扣额', align: 'center', templet: function (data) {
                            return data.type == "满减" ? data.value : (data.value * 10).toFixed(1).toString() + "折";
                        }
                    },
                    { field: 'threshold', width: 100, title: '使用门槛' },
                    { width: 154, title: '操作', templet: '#cardsettingtool' },
                    { field: 'description', title: '说明' },
                ]
            ],
            page: true
            , response: { statusCode: 200}
            , parseData: function (res) {
                return {
                    "code": res.statusCode,
                    "msg": res.msg,
                    "count": res.data.totalCnt,
                    "data": res.data.items
                };
            }
         });

        var active = {
            toolAdd: function () {
                layui.index.popupCenter('添加会员', '/admin/setting/ticketmodify', '700px', '610px', function () {
                    layui.index.reload();
                })
            },
            tooldsp: function () {
                var data = table.checkStatus('cardtablist').data;
                if (data.length == 0) {
                    layer.msg("至少选中一张优惠券！");
                    return false;
                }
                var cardids = "";
                for (var i = 0; i < data.length; i++) {
                    cardids += "," + data[i].id;
                }
                layui.afterSelectUser = function (users, close, err) {
                    var userids = "";
                    for (var i = 0; i < users.length; i++) {
                        userids += "," + users[i].id;
                    }
                    layui.config.ajax('/api/admin/setting/distributeticket', { cardids, userids }, function (d) {
                        if (d.ok) {
                            layer.msg("成功");
                            close();
                        } else {
                            layer.alert(d.msg);
                            err()
                        }
                    });
                }
                layui.index.popupCenter('选择用户', '/admin/user/userSelect', '800px', '510px', function () { });
            }
        }
        $('.list-search .layui-btn').on('click', function () {
            var type = $(this).data('action');
            active[type] ? active[type].call(this) : '';
        });
        table.on('tool(cardsettingtool)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') {
                layui.index.popupCenter('修改会员', '/admin/setting/ticketmodify?id=' + data.id, '700px', '610px', function () {
                    layui.index.reload();
                })
            }
        });
    });
</script>