@{
    ViewData["Title"] = "首页";
    Layout = null;
}
    <title>@ViewData["Title"]</title>
    <div class="content">
        @Html.Raw(Website.Models.SettingModel.getInstance().mobile_FirstPage)

    </div>

<script>
    $(function () {

    });
</script>

