@model MainViewModel;
@{
    ViewData["Title"] = "主页";
}
<div class="weui-tab">
    <div class="weui-tab__bd">
        <div id="mainview" class="weui-tab__bd-item weui-tab__bd-item--active"> </div>
    </div>

    <div class="weui-tabbar">
        <a href="#mainview" data-href="/home/mycards" class="weui-tabbar__item">
            <div class="weui-tabbar__icon">
                <img src="~/images/icon_nav_button.png" alt="">
            </div>
            <p class="weui-tabbar__label">首页</p>
        </a>
        <a href="#mainview" data-href="/home/skincare" class="weui-tabbar__item">
            <div class="weui-tabbar__icon">
                <img src="~/images/icon_nav_msg.png" alt="">
            </div>
            <p class="weui-tabbar__label">美肤预约</p>
        </a>
        <a href="#mainview" data-href="/home/yoga" class="weui-tabbar__item">
            <div class="weui-tabbar__icon">
                <img src="~/images/icon_nav_article.png" alt="">
            </div>
            <p class="weui-tabbar__label">瑜伽预约</p>
        </a>
        <a href="#mainview" data-href="/home/userinfo" class="weui-tabbar__item">
            <div class="weui-tabbar__icon">
                <img src="~/images/icon_nav_cell.png" alt="">
            </div>
            <p class="weui-tabbar__label">我</p>
        </a>
        <a href="#mainview" class="weui-tabbar__item">
            <div class="weui-tabbar__icon">
                <img src="~/images/icon_nav_cell.png" alt="">
            </div>
            <p class="weui-tabbar__label">测试</p>
        </a>
    </div>
</div>

@section Scripts{
<script>
    $(function () {
        $("body").on("click", "a[data-href]" , function () {
            var url = $(this).attr("data-href");
            if (url) {
                location.hash = "#" + url;
            }
        })
        function loadurl(id, url) {
            $.showLoading();
            $.ajax({
                url: url,
                type: "get",
                success: function (data) {
                    $.hideLoading();
                    var ttl = $(id).html(data).find("title").text();
                    if (ttl) {
                        document.title = ttl;
                    }
                },
                error: function (xhr, status, error) {
                    $.hideLoading();
                    if (xhr.status == 401) {
                        var rurl = xhr.getResponseHeader("Location");
                        if (rurl) loadurl(id, rurl);
                    }
                }
            })
        }
        if (location.hash) {
            loadurl("#mainview", location.hash.substr(1));
            $("a[data-href='" + location.hash.substr(1) + "']").addClass("weui-bar__item--on");
        } else {
            loadurl("#mainview", "/home/mycards");
        }
        window.onhashchange = function () {
            loadurl("#mainview", location.hash.substr(1));
        }
        $(".weui-tab__bd").height($(".weui-tab__bd").height() - $(".weui-tabbar").height());
    });
</script>
}
   
