@{
    ViewData["Title"] = "登录";
}
<style>
    .demos-header {
        display: flex;
        padding-top: 20px;
    }

    .demos-title {
        align-self: center;
        margin: 0 auto;
    }
</style>
<header class="demos-header">
    <h1 class="demos-title">登录</h1>
</header>
<div class="weui-cells weui-cells_form">
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">手机号</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="tel" type="tel" placeholder="请输入手机号">
        </div>
    </div>
    <div class="weui-cell weui-cell_vcode">
        <div class="weui-cell__hd">
            <label class="weui-label">验证码</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="vcode" type="tel" placeholder="请输入验证码">
        </div>
        <div class="weui-cell__ft">
            <button class="weui-vcode-btn">获取验证码</button>
        </div>
    </div>
    <div class="weui-btn-area">
        <a class="weui-btn weui-btn_primary" href="javascript:" id="showTooltips">确定</a>
    </div>
</div>
@section Scripts{
    <script>
        $(function () {
            function smsCountDown(t) {
                $(".weui-vcode-btn").text(t).attr("disabled", "disabled");
                var t1 = window.setInterval(function () {
                    t--;
                    $(".weui-vcode-btn").text(t).attr("disabled", "disabled");
                    if (t == 0) {
                        window.clearInterval(t1);
                        $(".weui-vcode-btn").text("获取验证码").removeAttr("disabled");
                    }
                }, 1000);
            }
            function SendSms(tel, vcode) {
                $.showLoading();
                $.ajax({
                    url: "/smsapi/svcode",
                    async: true,
                    type: "POST",
                    data: { tel: tel, vcode: vcode },
                    dataType: "json",
                    success: function (data) {
                        $.hideLoading();
                        if (data.ok) {
                            smsCountDown(parseInt(data.data));
                        } else {
                            $.toast(data.msg, "text");
                        }
                    },
                    error: function (err) {
                        $.hideLoading();
                        $.toptip('连接服务器失败', 'error');
                    }
                });
            }
            $(".weui-vcode-btn").click(function () {
                SendSms($("#tel").val(), "");
            });
            $("#showTooltips").click(function () {
                $.showLoading();
                $.ajax({
                    url: "/reg",
                    async: true,
                    type: "POST",
                    data: { tel: $("#tel").val(), vcode: $("#vcode").val() },
                    dataType: "json",
                    success: function (data) {
                        $.hideLoading();
                        if (data.ok) {
                            location.href = "/home"
                        } else {
                            $.toast(data.msg, "text");
                        }
                    },
                    error: function (err) {
                        $.hideLoading();
                        $.toptip('连接服务器失败', 'error');
                    }
                });
            });
        });
    </script>
}

