@{
    ViewData["Title"] = "我的优惠券";
    Layout = null;
}

<div class="bg-coupon">
    <div class="ticket">
        <ul class="box-l">
            <li class="title">满减优惠券</li>
            <li class="time">有效期至:2018-01-01</li>
        </ul>
        <div class="split-line"></div>
        <ul class="box-r">
            <li class="money">￥55</li>
            <li class="discount">满1000元减</li>
        </ul>
    </div>
</div>

<div class="bg-coupon">
    <div class="ticket">
        <ul class="box-l">
            <li class="title">满减优惠券</li>
            <li class="time">有效期至:2018-01-01</li>
        </ul>
        <div class="split-line"></div>
        <ul class="box-r">
            <li class="money">￥55</li>
            <li class="discount">满1000元减</li>
        </ul>
    </div>
</div>

<div class="bg-coupon">
    <div class="ticket">
        <ul class="box-l">
            <li class="title">8折优惠券</li>
            <li class="time">有效期至:2018-01-01</li>
        </ul>
        <div class="split-line"></div>
        <ul class="box-r">
            <li class="money">8折</li>
            <li class="discount">满1000元</li>
        </ul>
    </div>
</div>

<script>
    $(function () {

    });
</script>

