@{
    ViewData["Title"] = "美肤";
    Layout = null;
}
<div class="weui-cells content">
    <a class="weui-cell weui-cell_access course_item" href="/detail">
        <div class="weui-cell__hd avatar"><img src="~/images/avatar.jpg"></div>
        <div class="weui-cell__bd">
            <p class="name">美眉速成班</p>            
            <div class="tags">
                <span>零基础</span>
                <span>成品舞</span>
            </div>
        </div>
        <div class="book_status">
            <i class="course_status hot"></i>            
        </div>
    </a>
    <a class="weui-cell weui-cell_access course_item" href="javascript:;">
        <div class="weui-cell__hd avatar"><img src="~/images/avatar2.jpg"></div>
        <div class="weui-cell__bd">
            <p class="name">光头训练班</p>
            <p class="schedule">TaoZi</p>
            <div class="tags">
                <span>零基础</span>
                <span>成品舞</span> <span>成品舞</span> 
            </div>
        </div>
        <div class="book_status">
            <i class="course_status stop"></i>
            <i class="status_warning">名额不多</i>
        </div>
    </a>
    <a class="weui-cell weui-cell_access course_item" href="javascript:;">
        <div class="weui-cell__hd avatar"><img src="~/images/avatar3.jpg"></div>
        <div class="weui-cell__bd">
            <p class="name">动物园一日游</p>
            <p class="schedule">TaoZi</p>
            <div class="tags">
                <span>零基础</span>
                <span>成品舞</span>
            </div>
        </div>
        <div class="weui-cell__ft">啊大苏打撒旦</div>
    </a>
    <a class="weui-cell weui-cell_access course_item" href="javascript:;">
        <div class="weui-cell__hd avatar"><img src="~/images/avatar4.png"></div>
        <div class="weui-cell__bd">
            <p class="name">B班</p>
            <p class="schedule">TaoZi</p>
            <div class="tags"></div>
        </div>
        <div class="book_status">
            <i class="course_status hot"></i>
            <i class="status_warning">名额不多</i>
        </div>
    </a>  <a class="weui-cell weui-cell_access course_item" href="javascript:;">
        <div class="weui-cell__hd avatar"><img src="~/images/avatar4.png"></div>
        <div class="weui-cell__bd">
            <p class="name">B班</p>
            <p class="schedule">14:00 - 15:00 TaoZi</p>
            <div class="tags">
                <span>零基础</span>
                <span>成品舞</span>
            </div>
        </div>
        <div class="book_status">
            <i class="course_status hot"></i>
            <i class="status_warning">名额不多</i>
        </div>
    </a>  <a class="weui-cell weui-cell_access course_item" href="javascript:;">
        <div class="weui-cell__hd avatar"><img src="~/images/avatar4.png"></div>
        <div class="weui-cell__bd">
            <p class="name">B班</p>
            <p class="schedule">14:00 - 15:00 TaoZi</p>
            <div class="tags">
                <span>零基础</span>
                <span>成品舞</span>
            </div>
        </div>
        <div class="book_status">
            <i class="course_status hot"></i>
            <i class="status_warning">名额不多</i>
        </div>
    </a>  <a class="weui-cell weui-cell_access course_item" href="javascript:;">
        <div class="weui-cell__hd avatar"><img src="~/images/avatar4.png"></div>
        <div class="weui-cell__bd">
            <p class="name">B班</p>
            <p class="schedule">14:00 - 15:00 TaoZi</p>
            <div class="tags">
                <span>零基础</span>
                <span>成品舞</span>
            </div>
        </div>
        <div class="book_status">
            <i class="course_status hot"></i>
            <i class="status_warning">名额不多</i>
        </div>
    </a>  <a class="weui-cell weui-cell_access course_item" href="javascript:;">
        <div class="weui-cell__hd avatar"><img src="~/images/avatar4.png"></div>
        <div class="weui-cell__bd">
            <p class="name">B班</p>
            <p class="schedule">14:00 - 15:00 TaoZi</p>
            <div class="tags">
                <span>零基础</span>
                <span>成品舞</span>
            </div>
        </div>
        <div class="book_status">
            <i class="course_status hot"></i>
            <i class="status_warning">名额不多</i>
        </div>
    </a>  <a class="weui-cell weui-cell_access course_item" href="javascript:;">
        <div class="weui-cell__hd avatar"><img src="~/images/avatar4.png"></div>
        <div class="weui-cell__bd">
            <p class="name">B班</p>
            <p class="schedule">14:00 - 15:00 TaoZi</p>
            <div class="tags">
                <span>零基础</span>
                <span>成品舞</span>
            </div>
        </div>
        <div class="book_status">
            <i class="course_status hot"></i>
            <i class="status_warning">名额不多</i>
        </div>
    </a>  <a class="weui-cell weui-cell_access course_item" href="javascript:;">
        <div class="weui-cell__hd avatar"><img src="~/images/avatar4.png"></div>
        <div class="weui-cell__bd">
            <p class="name">B班</p>
            <p class="schedule">14:00 - 15:00 TaoZi</p>
            <div class="tags">
                <span>零基础</span>
                <span>成品舞</span>
            </div>
        </div>
        <div class="book_status">
            <i class="course_status hot"></i>
            <i class="status_warning">名额不多</i>
        </div>
    </a>
</div>


<script>
    $(function () {

    });
</script>
