@model App.Data.UserInfo;
@{
    ViewData["Title"] = "用户";
    Layout = null;
}
<title>@ViewData["Title"]</title>
<div class="weui-cells">
    <a class="weui-cell weui-cell_access profile" href="/profile">
        <div class="weui-cell__hd avatar"><img src="@Model.avatar"></div>
        <div class="weui-cell__bd">
            <p class="name">@Model.nickname</p>
            <p class="tel">Tel:@Model.tel</p>
        </div>
        <div class="weui-cell__ft">余额:@Model.balance</div>
    </a>
</div>
<div class="weui-cells userinfo">
    <a class="weui-cell weui-cell_access" data-href="/home/mycards">
        <i class="fa fa-credit-card" aria-hidden="true" style="color:#fa7973"></i>
        <div class="weui-cell__bd">
            <p>我的会员卡</p>
        </div>
        <div class="weui-cell__ft"></div>
    </a>
    <a class="weui-cell weui-cell_access" data-href="/home/mytickets">
        <i class="fa fa-ticket" aria-hidden="true" style="color:#fa7973"></i>
        <div class="weui-cell__bd">
            <p>优惠券</p>
        </div>
        <div class="weui-cell__ft"></div>
    </a>
</div>
<div class="weui-cells__title">我的预约</div>
<div class="weui-cells userinfo">
    <a class="weui-cell weui-cell_access" data-href="/home/myygorder">
        <i class="fa fa-calendar" aria-hidden="true"></i>
        <div class="weui-cell__bd">
            <p>瑜伽预约</p>
        </div>
        <div class="weui-cell__ft"></div>
    </a>
    <a class="weui-cell weui-cell_access" data-href="/home/myscorder">
        <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
        <div class="weui-cell__bd">
            <p>美肤预约</p>
        </div>
        <div class="weui-cell__ft"></div>
    </a>
    <a class="weui-cell weui-cell_access" data-href="/home/myptorder">
        <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
        <div class="weui-cell__bd">
            <p>私教预约</p>
        </div>
        <div class="weui-cell__ft"></div>
    </a>
</div>

@*<div class="weui-cells__title">购买</div>
    <div class="weui-cells userinfo">
        <a class="weui-cell weui-cell_access" data-href="/cards/list">
            <i class="fa fa-credit-card" aria-hidden="true"></i>
            <div class="weui-cell__bd">
                <p>购买会员卡</p>
            </div>
            <div class="weui-cell__ft"></div>
        </a>
        <a class="weui-cell weui-cell_access" data-href="/home/myscorder">
            <i class="fa fa-ticket" aria-hidden="true"></i>
            <div class="weui-cell__bd">
                <p>购买优惠券</p>
            </div>
            <div class="weui-cell__ft"></div>
        </a>
    </div>*@
<div class="weui-cells__title">老师</div>
<div class="weui-cells userinfo">
    <a class="weui-cell weui-cell_access" data-href="/home/sign">
        <i class="fa fa-braille" aria-hidden="true"></i>
        <div class="weui-cell__bd">
            <p>课程签到</p>
        </div>
        <div class="weui-cell__ft"></div>
    </a>
    <a class="weui-cell weui-cell_access" data-href="/home/toc">
        <i class="fa fa-book" aria-hidden="true"></i>
        <div class="weui-cell__bd">
            <p>代人约课</p>
        </div>
        <div class="weui-cell__ft"></div>
    </a>
</div>


<script>
    $(function () {

    });
</script>